/*#region theme */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* I think the naming conventions are wrong here but ah well */
:root {
    --clr-accent: rgb(90, 62, 191);
    
    --clr-bg: rgb(20,20,20);
    --clr-primary: rgb(30,30,30);
    --clr-secondary: rgb(40,40,40);
    /*--clr-tertiary: rgb(70,70,70);*/
    --clr-faded: rgb(190,190,190);
    --clr-ghost: rgb(60,60,60);

    --font-p: 10vw;
    --font-h1:
}

*{
    color: white;
    border-color: white;
    accent-color: var(--clr-accent);
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--clr-bg);
    margin: 5px;
}

.no-scroll{
    overflow: hidden;
}

h1{
    font-weight: 800;
}

h2{
    font-size: 1em;
    font-weight: 600;
}

h3{
    font-weight:600;
}

p{
    font-weight: 400;
    /*font-size: 1em;*/
}

select{
    background-color: var(--clr-bg);
    border-radius: 3px;
    border-width: 0;
}

input{
    background-color: var(--clr-bg);
    
}

textarea {
    resize: none;
    background-color: var(--clr-primary);
    padding: 5px;
}

button{
    cursor: pointer;
    background-color: var(--clr-primary);
    border-radius: 5px;
    padding: 6px;
}

.faded{
    color: var(--clr-faded);
}

.ghost{
    color: var(--clr-ghost);
}

.hide{
    display:none;
}

/*
::placeholder{
    text-align: center;
}
*/
/*#endregion theme */




#body-header{
    margin-bottom: 5px;

    #input-add-movie{
        width: min(30vw, 400px);
        height: 20px;
        padding: 5px;
    }


    #suggestion-container{
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 5px;
        max-height: 30vh;
        background-color: var(--clr-bg);
        overflow-y: auto;
        overscroll-behavior: contain;

        padding-top: 5px;
        padding-bottom: 5px;
        .suggestion{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;

            padding-left: 8px;
            padding-right: 8px;
            .poster{
                width: min(40px,10vw);
            }
        }
    }

    #suggestion-container.active{
        display: flex;
    }

    #save-service-list{
        margin-top: 5px;
    }

    #view-container{
        display: flex;
        flex-wrap: nowrap;
        gap:5px;
        float: right;
    }

    #button-list,#button-grid{
        padding:5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #button-list.active,#button-grid.active{
        background-color: var(--clr-accent);
    }

    /*#region filters */

    #last-body-header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-wrap-mode: nowrap;
        gap: 10px;
    }

    .chip-container {
        display: flex;
        flex-wrap:nowrap;
        gap: 8px;
        overflow-x: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .chip {
        padding: 5px 10px;
        height: 20px;
        background-color: var(--clr-secondary);
        border: 1px solid var(--clr-primary);
        border-radius: 20px;
        cursor: pointer;
        user-select: none; /*can't select text*/
        /*align-items: center;*/
        display: flex;
        text-wrap-mode: nowrap;
    }

    .chip.active {
        background-color: var(--clr-accent);
        color: white;
    }

    .chip-key{
        display: inline; 
    }

    .chip-contents{
        display: none;
    }

    .chip-contents.active{
        display: inline;
    }

    .chip-operator{
        display: inline;
        margin-left: 5px;
    }

    .chip-value{
        display: inline;
        margin-left: 5px;
    }

    #order-container{
        float: right;
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
        /*overflow-x: auto;*/
    }

    #order{
        padding: 5px;
        border-radius: 8px;
        background-color: var(--clr-secondary);
    }

    #reverse-order.active{
        background-color: var(--clr-accent);
    }

    /*#endregion filters*/
}

.list{
    margin-bottom: 5vh;
    
    .movie{
    cursor: pointer;
    }
}

.list.grid-view{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .movie .row, .headers{
        display: none;
    }

    .movie {
        width:min(200px,40%);

        .grid{
            display: flex;
            flex-direction: column; /* Stack the thumbnail and movie name vertically */
            /*
            align-items: center;
            text-align: center;
            border-radius: 15px;
            background: var(--clr-primary);
            */
            /*padding: 10px 10px 0 10px;*/
            width: 100%;
            min-height: 360px;

            .poster{
            align-items: center;
                /*
                justify-content: center;
                border-radius: 5px;
                */
                font-size: 15px;
                
                grid-column: 1;
                width: 100%;
                transition: all 0.1s ease;
            }

            .poster:hover{
                transform: translateY(-5px);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
                transition: all 0.1s ease;
            }

            .title {
                margin-bottom: 5px;
                margin-top: 10px;
            }

            .info-flex{
                display: flex;
                justify-content: space-between;

                .rtrating-flex, .rated-flex{
                    display: flex;
                    gap: 5px;
                    margin-right: 5px;
                }
                .rtrating-logo, .rated-logo{
                    width: 20px;
                }
                .rtrating-logo.grayscale{
                    filter:contrast(30%) grayscale(1);
                }
                .rated-logo{
                    /* make white */
                    filter: brightness(0) invert(1);
                }
                .rated-logo.grayscale{
                    filter: contrast(0) brightness(70%);
                }
            }
        }
    }
}


.list.list-view .movie .grid{
    display: none;
}

.list.list-view{
    display: table;
    width: 100%;
    table-layout: fixed;


    .header{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        cursor:default;
        /*for now*/
        word-wrap: break-word;
    }

    .movie {
        display: table-row-group;
        background-color: var(--clr-bg);
    }

    .movie:nth-child(even){
        background-color: var(--clr-primary);
    }

    .row{
        display:table-row;
    }

    .row:not(.headers):hover {
        background-color: var(--clr-secondary);
    }

    .row *{
        display: table-cell;
        /*border: 1px solid #595959;*/
        padding: 5px 0 5px 0;
    }
}

/*#region popups*/

.popup{
    position: fixed;
    /* center */
    left: 0;
    right: 0;
    margin: auto;

    width: 60%;
    height: 40%;

    background: var(--clr-bg);
    z-index: 2;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
    visibility: hidden;
}

.popup.active{
    visibility: visible; 
}

#popup-service{
    top: 0;
    bottom: 0;
}

#popup-movie{
    width: 75%;
    height: 95%; /* coordinate this with top */
    border-radius: 10px 10px 0 0; /* only top right and top left corners */

    top:100%;
    transition: all 0.15s ease; 

    .pop-content.active{
        visibility: visible;
    }
    .pop-content {
    visibility: hidden;

        #pop-close{
            cursor: pointer;
            font-size: 20px;
            padding: 20px;
            margin: -20px;
        }

        #mark-watched{
            float: right;
            display: inline;
            margin-bottom: -50px;
        }

        #pop-title-row{
            display: flex;
            gap: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
        }

        #pop-title{
            display: inline;
        }
        /*
        #pop-year{
            display: inline;
        }
        */
        .pop-grid{
            display: grid;
            grid-template-columns: 25% auto;
            grid-template-rows: auto;
            gap: 16px;
        }

        .c1{
            grid-column: 1;
        }

        .c2{
            grid-column: 2;
        }

        #pop-services, #pop-genres{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 6px;
            margin-bottom: 15px;
            margin-top: 5px;
        }

        .service, .genre{
            display: inline-flex;
            padding: 8px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: var(--clr-secondary);
            text-align: center;
            align-items: center;
        }
        /*
        .pop-genres{
        }

        .genre{
        }
        */

        #pop-poster{
            border-radius: 5px;
            width: 100%;
        }

        #pop-rtrating-grid, #pop-rated-grid{
            display: grid;
            grid-template-columns: 30px auto;
            gap: 5px;
            align-items: center;
        }

        #pop-rtlogo, #pop-ratedlogo{
            grid-column: 1;
            width: 100%
        }

        #pop-ratedlogo{
            filter: brightness(0) invert(1);
        }

        #pop-rtrating, #pop-rated{
            margin-top: 5px;
            margin-bottom: 15px;
        }

        #pop-plot{
            margin-top: 5px;
            margin-bottom: 15px;
        }

        #pop-notes{
            margin-top: 5px;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
        }

        #pop-footer{
            margin-top: 5px;
            margin-bottom: 5vh;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }
    }
}

#popup-movie.active{
    top: 5%;
    transition: all 0.3s ease; 
}



#pop-bg {
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    opacity: 0;
    transition: all 0.15s;
}


#pop-bg.active{
    visibility: visible;
    
    opacity: 100%;
    transition: all 0.3s;
}

/*#endregion popup*/

/*#region notification*/

#notification{
    opacity: 0;
    
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    padding: 8px;

    transition: all 1s ease;
}

#notification.active{
    opacity: 1;
    transition: all 0.5s ease;
}
/*#endregion notification*/

@media /*only screen and*/ (width <= 500px) {
    #popup-movie{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    #popup-movie.active{
        top:0;
    }
    .list.grid-view{
        justify-content: space-evenly;
    }
}