/*#region theme */

/* I think the naming conventions are wrong here but ah well */
:root {
    --clr-accent: rgb(90, 62, 191);
    
    --clr-bg: rgb(20,20,20);
    --clr-primary: rgb(30,30,30);
    --clr-secondary: rgb(40,40,40);
    /*--clr-tertiary: rgb(70,70,70);*/
    --clr-faded: rgb(190,190,190);
    --clr-ghost: rgb(60,60,60);

    --font-p: 10vw;
    --font-h1:
}

*{
    color: white;
    border-color: white;
    accent-color: var(--clr-accent);
}

body{
    background-color: var(--clr-bg);
}

.no-scroll{
    overflow: hidden;
}

h3{
    margin: 0;
}

select{
    background-color: var(--clr-bg);
    border-radius: 3px;
    border-width: 0;
}

input{
    background-color: var(--clr-bg);
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: var(--clr-primary);
}

button{
    cursor: pointer;
    background-color: var(--clr-primary);
    border-radius: 5px;
    margin: 5px;
    padding: 6px;
}

.faded{
    color: var(--clr-faded);
}

.ghost{
    color: var(--clr-ghost);
}

/*
::placeholder{
    text-align: center;
}
*/
/*#endregion theme */

#input-add-movie{
    width: 500px;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

#save-service-list{
    margin-top: 5px;
}

#button-list,#button-grid{
    float: right;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3px;
}

#button-list.active,#button-grid.active{
    background-color: var(--clr-accent);
}

.movie{
    cursor: pointer;
}

/*#region grid view */

.list.grid-view{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    /*justify-content: center;*/
}

.grid-view .movie {
    display: flex;
    flex-direction: column; /* Stack the thumbnail and movie name vertically */
    /*
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background: var(--clr-primary);
    */
    /*padding: 10px 10px 0 10px;*/
    width: 190px;
    min-height: 360px;

}

.grid-view .poster {
    display: flex;
    align-items: center;
    /*
    justify-content: center;
    border-radius: 5px;
    */
    font-size: 15px;
    
    grid-column: 1;
    width: 100%;
}

.grid-view .title {
    margin-bottom: 5px;
}

/* hide list view elements (details) if grid view */
.list.grid-view .cell:not(.title){
    display: none;
}

/* hide headers if grid view */
.list.grid-view .headers{
    display: none;
}

/*#endregion grid view */

/*#region list view */

.list.list-view{
    display: table;
    width: 100%;
}

.list-view .row{
    display: table-row;
}

.list-view .row:nth-child(even){
    background-color: var(--clr-primary);
}

.list-view .row:not(.headers):hover {
    background-color: var(--clr-secondary);
}

.list-view .header{
    display: table-cell;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    cursor:default;
}

.list-view .cell{
    display: table-cell;
    /*border: 1px solid #595959;*/
    padding-right: max(20px,auto);
    padding: 5px 0 5px 0;
}

.list-view p,.list-view h2{
    font-weight: normal;
    font-size: x-large;
}

.list-view .poster{
    display: none;
}

.list-view .title{

}

.rtrating{
    
}

/*#endregion list view*/

/*#region filters */

#apply-filters{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.service-list-container{
    display:none;
}

.service-list-container.active{
    display: block;
}

.chip-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.chip {
    padding: 5px 10px;
    height:20px;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-primary);
    border-radius: 20px;
    cursor: pointer;
    user-select: none; /*can't select text*/
    align-items: center;
    display: flex;
}

.chip.active {
    background-color: var(--clr-accent);
    color: white;
}

.chip-key{
    display: inline; 
}

.chip-contents{
    display: none;
}

.chip-contents.active{
    display: inline;
}

.chip-operator{
    display: inline;
    margin-left: 5px;
}

.chip-value{
    display: inline;
    margin-left: 5px;
}

/*#endregion filters*/

/*#region popup*/

.popup{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    background: var(--clr-bg);
    padding: 20px;
    z-index: 2;
    height: 95%; /* coordinate this with top */
    overflow-y: auto;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 0 0; /* only top right and top left corners */

    visibility: hidden;
    top:100%;
    transition: all 0.15s ease; 
}

.popup.active{
    visibility: visible; 

    top: 5%;
    transition: all 0.3s ease; 
}

#close-pop{
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    margin: -20px;
}

.pop-bg {
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    opacity: 0;
    transition: all 0.15s;
}


.pop-bg.active{
    visibility: visible;
    
    opacity: 100%;
    transition: all 0.3s;
}

.pop-content {
    visibility: hidden;
}

.pop-content.active{
    visibility: visible;
}

#mark-watched{
    float: right;
    display: inline;
    margin: 0;
    margin-bottom: -50px;
}

#pop-title-row{
    display: flex;
    gap: 10px;
    /*
    margin-top: 0;
    margin-bottom: 0;
    */
    align-items: center;
}

#pop-title{
    display: inline;
}
/*
#pop-year{
    display: inline;
}
*/
.pop-grid{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    gap: 16px;
}

.c1{
    grid-column: 1;
}

.c2{
    grid-column: 2;
}

#pop-services, #pop-genres{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.service, .genre{
    display: inline-flex;
    padding: 8px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: var(--clr-secondary);
    margin: 3px;
}
/*
.pop-genres{
}

.genre{
}
*/

#pop-poster{
    border-radius: 5px;
    width: 100%;
}

#pop-rtrating-grid, #pop-csrating-grid{
    display: grid;
    grid-template-columns: 30px auto;
    gap: 5px;
    align-items: center;
}

#pop-rtlogo, #pop-cslogo{
    grid-column: 1;
    width: 100%
}

#pop-csrating{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#pop-notes{
    margin-bottom: 5vh;
}

/*#endregion popup*/

#notification{
    opacity: 0;
    
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;

    transition: all 1s ease;
}

#notification.active{
    opacity: 1;
    transition: all 0.5s ease;
}

#message{
    margin: 0;
}

@media /*only screen and*/ (width <= 500px) {
    .popup{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .popup.active{
        top:0;
    }
}